#breakPad {
  background: 
  repeating-conic-gradient(from 20deg at 55% 30%, 
    hsla(22, 40%, 40%, 1) 0deg,
    hsla(300, 80%, 70%, 1) 1deg,
    hsla(22, 40%, 40%, 1) 2deg
    );
  border-radius: 100%;
  box-sizing: border-box;
  padding: 2rem;
  max-width: 100%;

}

.break-header {
  background: repeating-conic-gradient(from 21deg, 
  hsla(22, 80%, 40%, 1) 0% 1deg,
  hsla(300, 40%, 40%, 1) 1deg 2deg
  );
  color: white;
  border-radius: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  /* padding: 1rem; */
  min-height: 8rem;
  min-width: 8rem;
}

.break-header h2 {
  box-sizing: border-box;
  font-size: calc(10px + 2vmin);
  width: 100%;
}