.App {
  background-color: #1e2127;
  background: 
    radial-gradient(circle at 80% 10%, 
      hsla(0, 0%, 0%, 0.5), 
      hsla(303, 98%, 50%, 0.5) 70%, 
      hsla(90, 90%, 50%, 0.5)
      ),
    radial-gradient(circle at 50% 90%, 
      hsla(0, 0%, 0%, 0.7), 
      hsla(303, 98%, 10%, 0.5) 50%, 
      hsla(150, 90%, 50%, 0.9)
      ),
    repeating-conic-gradient(from 0deg at 20% 70%,
    hsla(0, 0%, 0%, 0.7) 0deg, 
    hsla(0, 0%, 0%, 0.0) 0.5deg 
    ),
    repeating-conic-gradient(from 0deg at 80% 5%,
    hsla(0, 0%, 0%, 0.7) 0deg, 
    hsla(0, 0%, 0%, 0.0) 0.5deg 
    ),
    repeating-radial-gradient(circle at 50% 50%,
    hsla(0, 0%, 0%, 0.7) 0%, 
    hsla(0, 0%, 0%, 0.0) 0.5% 
    )
    ;
  color: white;
  margin: 0;
  padding: 1rem;
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  place-content: start;
  place-items: center;
  box-sizing: border-box;
}


@media (prefers-reduced-motion: no-preference) {
  .App {
    animation: App-trix-up infinite 5s linear;
  }

  /* .App > div {
    animation: App-trix-down infinite 5s linear;
  }
  .App > header {
    animation: App-trix-down infinite 5s linear;
  } */
}

@keyframes App-trix-up {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  } 
  100% {
    transform: scale(1);
  }
}

/* @keyframes App-trix-down {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  } 
  100% {
    transform: scale(1);
  }
} */

.App-header {
  grid-column: 1 / -1;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white; 
}

.App-header > h1 {
  margin: 0;
}

.btn {
  box-sizing: border-box;
  
  display: grid;
  place-content: center;
  background: repeating-radial-gradient(circle at 50% 50%, 
  rgb(71, 183, 235) 0%, 
  hsla(350, 80%, 60%, 1) 30%);
  border-radius: 100%;
  min-height: 5rem;
  min-width: 5rem;
  max-width: 10rem;
  /* background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
  color: white;
  border: white 4px dashed;
  mix-blend-mode: difference;
  margin: 1rem;
  font-size: calc(12px + 2vmin);

}

.flip {
  filter: invert(90%)
}